* { font-family: Arial, Helvetica, sans-serif; }        
h1 {line-height:1.3em; color: #DDDDDD; font-weight: normal; border-bottom: 1px dotted #444444; padding-bottom: 20px; margin:0px 0 20px; }
      h1 strong {padding:3px;}
h3 { color: #FFFFFF; margin:0;}
i { color: #BBBBBB; font-style: normal; border-bottom: 1px dotted #AAAAAA; }
      ul.fl-listmenu {
          margin-top:20px;
      }
ul.fl-listmenu a {
          color: #fff; 
          text-decoration:underline; 
          border-bottom: 1px solid #54A4DB; 
          background: rgba(84, 164, 219, 0.3) url("../../engageDemo/images/chevron.png") no-repeat right center;
      }
      ul.fl-listmenu li:first-child a {
          border-top: 1px solid #54A4DB; 
      }
strong {
	color: #FFFFFF;
	padding: 0px 4px 0px 4px;
	background-color: #3FA9F5;
}
      p {
          color:#fff;
      }
p a {
	display: block; 
	float: left; 
	clear: left;
	margin-bottom: 4px;            
}

p.alert {
	color: #FFFFFF;
	padding: 0px 4px 0px 4px;
	background-color: #DF4203;
}